<section style="background: url(img/divider-bg.jpg);" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>DEV SHOP</p>
        <h2 class="h1 text-uppercase no-margin">FOR DEVELOPERS</h2>
        <p>Worldwide</p><a href="/shop" class="btn btn-template wide shop-now">Shop Now<i class="icon-bag"></i></a>
      </div>
    </div>
  </div>
</section>
