
<%- include partials/navbar.ejs %>
<%- include partials/headerimage.ejs %>

  </div><!-- end of jumbotron -->
    <!-- about us-->
    <section class="padding-small">
      <div class="container">
        <div class="row about-item">
          <div class="col-lg-8 col-sm-9">
            <h2>How it all began</h2>
            <p class="text-muted">Who better to vouch for a product made for a DEV other than a DEV? Our products have been used by real developers who sit and stare at their screens for countless hours.</p>
          </div>
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon ml-lg-0"><i class="fa fa-line-chart"></i></div>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon mr-lg-0"><i class="fa fa-user-o"> </i></div>
          </div>
          <div class="col-lg-8 col-sm-9">
            <h2>Who we are</h2>
            <p class="text-muted">We are a Dev Shop that specialized in lifestyle products made for developers. Many
            of our products are made by developers as well.</p>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-8 col-sm-9">
            <h2>We care</h2>
            <p class="text-muted">We care about your health and wellbeing!We understand the development is tough, so we try our best to support your lifestyle.</p>
          </div>
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon ml-lg-0"><i class="icon icon-heart"></i></div>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon mr-lg-0"><i class="icon icon-truck"> </i></div>
          </div>
          <div class="col-lg-8 col-sm-9">
            <h2>Fast delivery</h2>
            <p class="text-muted">Free shipping for products over $30! Unhappy with your order? Free returns within 30 days</p>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-8 col-sm-9">
            <h2>Your security and privacy matters</h2>
            <p class="text-muted">We will not sell or disclose your personal information. Our SSL certificate is current we use standard security protocols such as HTTPS, CSurf etc.</p>
          </div>
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon ml-lg-0"><i class="icon icon-secure-shield"></i></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url(img/divider-bg.jpg);" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>Dev Shop</p><a href="#" class="btn btn-template wide shop-now">Shop Now<i class="icon-bag"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-small">
      <div class="container">
        <header>
          <h2 class="h1">Our team</h2>
        </header>
        <div class="row team">
          <div class="col-md-4 col-6">
            <div class="team-member">
              <div class="image"><img src="img/person-1.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="/">Barkha</a></h3>
              <p class="role">founder</p>
              <div class="social"><a href="/" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
          <div class="col-md-4 col-6">
            <div class="team-member">
              <div class="image"><img src="img/person-2.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="#">Diego</a></h3>
              <p class="role">CTO</p>
              <div class="social"><a href="/" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
          <div class="col-md-4 col-6">
            <div class="team-member">
              <div class="image"><img src="img/person-3.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="#">Felisa</a></h3>
              <p class="role">Team Leader</p>
              <div class="social"><a href="/" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
          </div>
        </div>
    </section>
    <!-- Footer-->
    <%- include partials/footer.ejs %>
